@import 'tailwindcss';

@import '@wani-works/ui/styles';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Custom Tailwind variables. This will map to tailwind classes i.e. to use --font-primary, use `font-primary` tailwind class */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--font-noto-sans), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-primary;
}
